html{
  height: 100%;
}
body{
  background: #312e2b;
  font-family: 'Crimson Text', serif;
  width: 100%;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  width: 180px;
  background: #1d1c1a;
  box-shadow: 0 2px 5px #000;
  font-size: 22px;
  text-shadow: 1px 1px #000;
  margin: 0;
  padding: 0 0 0 5px;
  z-index: 9998;
}
.navbar a{
  color: #fff;
  transition: .3s ease;
  display: block;
}
.navbar a:hover{
  text-decoration: none;
  color: #76bf2c;
}
.nav-icon {
  color: #76bf2c;
}
nav .container{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
nav .container >input{
  width: 65%;
  height: 40px;
}
nav .container > button{
  height: 50px;
  cursor: pointer;
}
nav .container > button:first-of-type{
  width: 60%;
}
nav .container > button:nth-of-type(2){
  width: 30%;
}
.navbar *{
 width: 100%;
}
.navbar img{
  padding:10px 5px 30px 0px;
}
.dropdown-content{
  position: absolute;
  display: none;
  width: 200%;
  color: #fff;
  background: #2d3640;
  box-shadow: 0 7px 10px #191e24;
  border-radius: 0 10px 10px 10px;
  z-index: 100;
  font-size: 24px;
  left: -1px;
}
.dropdown{
  border-radius: 5px 5px 0 0;
  margin: 0;
}
.dropdown:hover{
  background: #2d3640;
}
.dropdown >p{
  margin: 0;
}
.dropdown:hover > .dropdown-content{
  display: block;
  border-left: 1px solid #191e24;
  border-right: 1px solid #191e24;
}
.dropdown-content a{
  display: block;
  text-align: center;
}
.dropdown-content a:hover{
  color: #76bf2c;
}
.dropdown-content >a::before{
  content: "• ";
  color: #76bf2c;
}

#forgot{
  color: #58b5f9;
  transition: .4s ease;
}
#forgot:hover{
  color: #31658b;
}
#forgot::before{
  content: none;
}
#hideNav{
  position: absolute;
  top: 0px;
  right: -50px;
  font-size: 1.3em;
  background: inherit;
  width: 50px;
  padding: 8px;
  height: 50px;
  transition: .4s ease-out;
  z-index: 9999;
}
#hideNav:hover{
  box-shadow: 2px 2px 5px #000;
  cursor: pointer;
}
.categories{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-gap: 50px;
  max-width: 800px;
  margin: auto;
  padding: 0 3%;
  padding-top: 20px;
  margin-bottom: 20px;
}
.category{
 position: relative;
 display: flex;
 color: #fff;
 justify-content: center;
 cursor: pointer;
 border: 1px solid #000;
}
.category:hover .color{
  background: rgba(118, 191, 44, 0.62);
}
.category > a{
  font-size: 30px;
  text-align: center;
  z-index: 2;
  line-height: 100px;
  text-shadow: 1px 1px 5px #000;
}
.color{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  transition: .4s ease;
}
.category:nth-of-type(6n-5), .section-category:nth-of-type(6n-5){
  background: url(../img/chesspieces/wikipedia/bK.png) center no-repeat;
}
.category:nth-of-type(6n-4), .section-category:nth-of-type(6n-4){
  background: url(../img/chesspieces/wikipedia/bQ.png) center no-repeat;
}
.category:nth-of-type(6n-3), .section-category:nth-of-type(6n-3){
  background: url(../img/chesspieces/wikipedia/bR.png) center no-repeat;
}
.category:nth-of-type(6n-2), .section-category:nth-of-type(6n-2){
  background: url(../img/chesspieces/wikipedia/bN.png) center no-repeat;
}
.section-category:nth-of-type(2){
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.beginner:nth-of-type(1){
  grid-column: 1/4;
}
.beginner:nth-of-type(2){
  grid-column: 4/7;
}
.beginner:nth-of-type(3){
  grid-column: 1/7;
}
.beginner:nth-of-type(3) > a{
  line-height: 200px;
  font-size: 36px;
}
.grid{
  display: grid;
  grid-template-columns:  2fr 1fr;
  margin-top: 5px;
  margin-left: 180px;
}
.combinations{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section{
  border: 1px solid #000;
  box-shadow: 0 0 5px #000;
  overflow: hidden;
  margin-bottom: 10px;
}
.section h2{
  width: 100%;
  background: #d7b62b;
  text-align: center;
  font-size: 2.5em;
  border-bottom: 1px solid #000;
  margin: 0;
}
.section h2 a{
  color: inherit;
  text-decoration: none;
}
.section-main{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background: #1d1c1a;
}
.section-main a{
  text-decoration: none;
}
.section-category{
  display: block;
  height: 133px;
  width: 133px;
  text-align: center;
}
.section-category h5{
  height: 100%;
  line-height: 66px;
  font-size: 1.4em;
}
.filter{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color:#d7b62b;
}
.filter:hover{
  background: rgba(118, 191, 44, 0.52);
  color:#fff;
}
.info-right{
  background: #d7b62b;
  border-radius: 8% 8% 8% 8%;
  height: 450px;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  padding: 1% 1% 1% 1%;
  box-shadow: 0 0 10px #000;
  min-width: 300px;
  margin: 20px;
  overflow: hidden;
}

.main{
  width: calc(100%-180px);
  margin-left: 180px;
  margin-top: 15px;
}
.info-inside{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 60px 60px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background: #3d4955;
  border: 1px solid #000;
  border-radius: 8% 8% 8% 8%
}
.info-inside > p{
  text-align: center;
}
#success{
  opacity: 0;
  grid-column: 1/3;
  text-align: center;
  vertical-align: middle;
  color: #76bf2c;
  transition: .3s ease;
  margin-left: 20%;
  margin-right: 20%;
  background: #1d2329;
  border: 2px solid;
  height: 55px;
  text-shadow: 2px 2px #000;
}
#board{
  min-width: 250px;
  margin: auto;
  margin-top: 20px;
  filter: drop-shadow(0 0 30px #000);
}
#min, #sec {
  color: #76bf2c;
}
.resize{
  color:#fff;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: content-box;
  padding: 4px;
  position: relative;
  right: 4px;
  width: 95%;
}
.nav-row{
  text-align: center;
}
.resize span{
  transition: .3s ease-out;
  padding: 3px;
  border-radius: 5%;
}
.nav-row span:hover{
  cursor: pointer;
  color: #76bf2c;
}
.score{
  padding-left: 3%;
  text-align: left;
  font-size: 30px;
  color: #d7b62b;
  text-shadow: 2px 2px #000;
}
#score, #correct, #attempts{
  color: #76bf2c;
}
.description{
  margin-top: 20px;
}
.description > *{
  margin: auto;
  display: block;
  width: 100%;
  max-width: 800px;
}
.description > h2{
   text-align: center;
   background:rgb(215, 182, 43);
   color:#fff;
}
.description > p{
  color:#dedede;
  padding: 15px;
  font-size: 1.3em;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #000;
  border-top: none;
}
.description > p span{
  color: #76bf2c;
  text-decoration: underline;
}
.clock{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.clock >img{
  height: 70px;
  margin-left: 10%;
}
.nextProb{
  display: flex;
  justify-content: center;
  grid-column: 1/3;
  align-items: center;
}
.rotate{
  position: relative;
  height: 35px;
  width: 35px;
  background: #d7b62b;
  transform: rotate(45deg);
  left: -17px;
  transition: .3s ease;
  border: 1px solid #000;
}
.match-category{
  position: relative;
  display: inline-block;
  height: 30vw;
  width: 30vw;
  max-width: 500px;
  max-height: 500px;
  margin: 5px;
}
.match-category img{
  height: 100%;
  width: 100%;
  filter: brightness(60%);
}
.match-category h3{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #d7b62b;
  font-size: 2.7em;
  text-shadow: 2px 2px #000;
}
.match-category:hover img{
  filter: brightness(30%) blur(3px);
}
.next{
  font-size: 2em;
  background: #d7b62b;
  text-align: center;
  margin: auto;
  transition: .3s ease;
  height: 50px;
  margin: 0;
  z-index: 2;
  border: 1px solid #000;
  border-right: none;
  transition: .4s ease;
  line-height: 50px;
  padding-left: 5px;
}
.next:hover{
  color: #fff;
  text-shadow: 0 0 10px #000;
  cursor: pointer;
}
.next:hover + .rotate{
  background: #007480;
}
#options{
  font-size: 18px;
  padding: 5px;
  background: #222930;
  border: 1px solid #000;
  border-left: none;
  color: #d7b62b;
  text-shadow: 2px 2px #000;
}
#notation{
  position: relative;
  margin-left: 5px;
  top: 12px;
}
#toPlay{
  background: #1d2329;
  border: 1px solid #000;
  border-left: none;
  color: #d7b62b;
  text-shadow: 2px 2px #000;
  font-size: 1.5em;
  text-align: center;
}
#who{
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  margin: auto;
}
#MoveSwitcher{
  text-align: center;
  font-size: 2em;
  font-family: 'Krona One', sans-serif;
  margin: auto;
  box-sizing: border-box;
  border:2px solid #404040;
  border-top: none;
  display: none;
  background: rgba(0, 0, 0, 0.3);
}
#MoveSwitcher  button{
  background: inherit;
  border: none;
  transition: .3s ease;
  text-align: center;
  height: 100%;
  flex-grow: 1;
  margin: 0;
  outline: none;
  color: #d7b62b;
}
#MoveSwitcher  button:first-of-type{
  border-right: 1px solid #404040;
}
#MoveSwitcher  button:hover{
  background: #76bf2c;
  color: #fff;
  cursor: pointer;
}
#MoveSwitcher h3{
  color:#d7b62b;
  text-shadow: 2px 2px #000;
  border-bottom: 1px solid #404040;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
}
@media only screen and (max-width: 920px){
          .grid{
            grid-template-columns: 1fr;
            margin-left: 0;
          }
          .info-right{
            margin-top: 10px;
            height: auto;
            padding: 0;
            background: none;
            border-radius: 0;
          }
          .info-inside{
            border-radius: 0;
          }
          .categories{
            grid-gap: 10px;
          }
          .navbar{
            left: -180px;
          }
          #hideNav{
            transform: rotate(180deg);
          }
          .main{
            margin-left: 0;
            width: 100%;
          }
          .match-category h3{
              font-size: 1.7em;
          }
}
@media only screen and (max-width: 400px){
  .section-category h5{
    font-size: 1.1em;
  }
  .match-category h3{
      font-size: 1.3em;
  }
}
